In [3]:
#Importamos Pandas y nuestro archivo CSV a trabajar, renombrado  'dist'.
#Aplicamos el codec 'ISO-8859-1' para poder visualzar correctamente todos los caract√©res del CSV.
import pandas as pd
dist = pd.read_csv("C:/Users/User/Documents/UPY/Data Preproccesing/Symmary_Unit1/INE_DISTRITO_2020.csv", index_col=0, encoding = 'ISO-8859-1')
dist

,NOM_ENT,DISTRITO,INDIGENA,COMPLEJIDA,POBTOT,POBFEM,POBMAS,P_0A2,P_0A2_F,P_0A2_M,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCIN,VPH_SINTIC
ENTIDAD,,,,,,,,,,,,,,,,,,,,,
1,Aguascalientes,1,NO,Disperso 1,482911,245249,237662,27689,13802,13887,...,32683,110208,59381,45106,19305,14900,2752,8043,54801,985
1,Aguascalientes,2,NO,Concentrado 1,486085,249098,236987,24904,12319,12585,...,51688,126004,84830,63907,33974,25751,1651,3813,40681,373
1,Aguascalientes,3,NO,Concentrado 2,456611,234577,222034,19271,9483,9788,...,63447,123683,91792,65076,45445,29475,1618,3467,33514,353
2,Baja California,1,NO,Concentrado 2,485628,240417,245211,19179,9563,9616,...,70615,141300,97720,72397,48338,29949,4220,5526,44317,1241
2,Baja California,2,NO,Concentrado 1,396169,197545,198624,11110,5479,5631,...,82630,119147,97297,65908,49026,26747,2815,4302,26120,894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,Yucat√°n,5,SI,Disperso 1,440998,221243,219755,22989,11341,11648,...,9970,92325,36036,64935,5919,2653,10718,22202,73204,6014
32,Zacatecas,1,NO,Disperso 1,401248,204384,196864,23355,11498,11857,...,29959,89927,48632,51412,10315,8034,2495,10197,52570,1088
32,Zacatecas,2,NO,Muy Disperso 1,382209,195915,186294,20205,10044,10161,...,34309,88813,44615,48299,7931,6273,4097,11035,57931,1678
32,Zacatecas,3,NO,Disperso 2,388643,198960,189683,19795,9818,9977,...,38288,89258,53611,57594,15716,10661,3540,10995,47440,1340
32,Zacatecas,4,NO,Disperso 1,450038,231821,218217,25078,12460,12618,...,35496,104816,58087,57032,17694,12654,3111,11089,56240,1277

In [4]:
#Renombramos nuestra data base 'dist' a 'df' y visualizamos las columnas.
df = dist
df.columns

Index(['NOM_ENT ', 'DISTRITO', 'INDIGENA', 'COMPLEJIDA', 'POBTOT', 'POBFEM',
       'POBMAS', 'P_0A2', 'P_0A2_F', 'P_0A2_M',
       ...
       'VPH_TELEF', 'VPH_CEL', 'VPH_INTER', 'VPH_STVP', 'VPH_SPMVPI',
       'VPH_CVJ', 'VPH_SINRTV', 'VPH_SINLTC', 'VPH_SINCIN', 'VPH_SINTIC'],
      dtype='object', length=224)

In [33]:
#Renombramos la columna 'NOM_ ENT ' quitando el espacio al final, dejando solo 'NOM_ENT'.
df.rename(columns = {'NOM_ENT ':'NOM_ENT'}, inplace = True)
df.columns

Index(['NOM_ENT', 'DISTRITO', 'INDIGENA', 'COMPLEJIDA', 'POBTOT', 'POBFEM',
       'POBMAS', 'P_0A2', 'P_0A2_F', 'P_0A2_M',
       ...
       'VPH_TELEF', 'VPH_CEL', 'VPH_INTER', 'VPH_STVP', 'VPH_SPMVPI',
       'VPH_CVJ', 'VPH_SINRTV', 'VPH_SINLTC', 'VPH_SINCIN', 'VPH_SINTIC'],
      dtype='object', length=224)

In [34]:
#Insertamos Dummy Columns para 'NOM_ENT'.
pd.get_dummies(df.NOM_ENT)

,Aguascalientes,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de M√©xico,Coahuila de Zaragoza,Colima,Durango,...,Quintana Roo,San Luis Potos√≠,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucat√°n,Zacatecas
ENTIDAD,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
#Insertamos Dummy Columns para 'INDIGENA'.
pd.get_dummies(df.INDIGENA)

         NO  SI
ENTIDAD
1         1   0
1         1   0
1         1   0
2         1   0
2         1   0
...      ..  ..
31        0   1
32        1   0
32        1   0
32        1   0
32        1   0

[300 rows x 2 columns]

In [36]:
#Insertamos Dummy Columns para 'COMPLEJIDA'.
pd.get_dummies(df.COMPLEJIDA)

,Altamente Concentrado 1,Altamente Concentrado 2,Concentraci√≥n Media,Concentrado 1,Concentrado 2,Disperso 1,Disperso 2,Muy Disperso 1,Muy Disperso 2
ENTIDAD,,,,,,,,,
1,0,0,0,0,0,1,0,0,0
1,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0
2,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
31,0,0,0,0,0,1,0,0,0
32,0,0,0,0,0,1,0,0,0
32,0,0,0,0,0,0,0,1,0
32,0,0,0,0,0,0,1,0,0
32,0,0,0,0,0,1,0,0,0

In [37]:
#Checamos las tendencias de los valores
df.describe()

,DISTRITO,POBTOT,POBFEM,POBMAS,P_0A2,P_0A2_F,P_0A2_M,P_0A17,P_3YMAS,P_3YMAS_F,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCIN,VPH_SINTIC
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,...,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,8.523333,420046.746667,215135.446667,204911.300000,19213.513333,9496.250000,9717.263333,127493.193333,399921.946667,205181.890000,...,43948.500000,102586.326667,61023.976667,50704.353333,22053.803333,13490.333333,5961.840000,10569.646667,50360.680000,2842.903333
std,8.140250,59313.093187,29164.659537,30615.940435,5299.359865,2644.642163,2657.387319,29738.510427,55549.440819,27371.563222,...,23738.589838,23770.335349,28015.948755,18184.127490,16788.084461,9722.438409,5506.994917,8768.830746,19899.988623,4000.147364
min,1.000000,318965.000000,158800.000000,155137.000000,8193.000000,4105.000000,4088.000000,56738.000000,303546.000000,151199.000000,...,1905.000000,35643.000000,4149.000000,10855.000000,446.000000,311.000000,1109.000000,1141.000000,10638.000000,191.000000
25%,3.000000,387111.500000,198327.750000,186982.750000,15602.250000,7671.750000,7953.750000,108026.750000,368224.250000,188793.250000,...,25343.250000,88941.250000,39381.000000,39005.000000,8639.500000,5487.250000,2431.250000,4513.250000,33565.000000,655.250000
50%,6.000000,413567.500000,212140.000000,200654.000000,19329.000000,9525.000000,9767.500000,127414.500000,394295.500000,202184.000000,...,39311.000000,99265.500000,60469.500000,48982.000000,17982.500000,11689.500000,3913.500000,7179.500000,49020.000000,1325.000000
75%,11.000000,444328.000000,227850.000000,215679.500000,22488.000000,11119.000000,11355.750000,143333.500000,422120.500000,217313.500000,...,60544.750000,113269.750000,79888.000000,62894.750000,33510.750000,20274.000000,7522.000000,13618.250000,66933.750000,3376.750000
max,41.000000,840624.000000,415157.000000,425467.000000,49407.000000,24778.000000,24629.000000,297571.000000,790903.000000,390229.000000,...,141364.000000,231546.000000,161786.000000,122608.000000,112039.000000,54473.000000,34094.000000,48980.000000,96021.000000,28351.000000

In [38]:
#Comprobamos los tipos de datos de cada columna.
df.dtypes

NOM_ENT       object
DISTRITO       int64
INDIGENA      object
COMPLEJIDA    object
POBTOT         int64
               ...
VPH_CVJ        int64
VPH_SINRTV     int64
VPH_SINLTC     int64
VPH_SINCIN     int64
VPH_SINTIC     int64
Length: 224, dtype: object

In [5]:
#Verificamos si hay missing values en cada columna.
missing_values_count = df.isnull().sum()
missing_values_count

NOM_ENT       0
DISTRITO      0
INDIGENA      0
COMPLEJIDA    0
POBTOT        0
             ..
VPH_CVJ       0
VPH_SINRTV    0
VPH_SINLTC    0
VPH_SINCIN    0
VPH_SINTIC    0
Length: 224, dtype: int64

In [6]:
#Imprimimos el total de missing values
missing_total = missing_values_count.sum()
print('Total missing values: ', missing_total)

Total missing values:  0

In [7]:
#Verificamos si hay filas duplicadas.
df.duplicated()

ENTIDAD
1     False
1     False
1     False
2     False
2     False
      ...
31    False
32    False
32    False
32    False
32    False
Length: 300, dtype: bool

In [9]:
#Verificamos si hay filas duplicadas e imprimimos el total.
duplicated_values = df.duplicated().sum()
print('Total duplicated rows: ', duplicated_values)

Total duplicated rows:  0